---
interface Props {
  category: string;
  year: string;
}

const { category, year } = Astro.props;
---

<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <img
            class="h-6 w-auto"
            src="/logo.svg"
            alt="Conference Comparisons"
          />
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          {
            category !== "Product" && (
              <a
                href={`https://productconferences${year}.com`}
                class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
              >
                Product Conferences
              </a>
            )
          }
          {
            category !== "UX" && (
              <a
                href={`https://uxconferences${year}.com`}
                class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >
                UX Conference
              </a>
            )
          }
          {
            category !== "Design" && (
              <a
                href={`https://designconferences${year}.com`}
                class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >
                Design Conferences
              </a>
            )
          }
          {
            category !== "Agile" && (
              <a
                href={`https://agileconferences${year}.com`}
                class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >
                Agile Conferences
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</nav>
